<template>
  <div class="about">
    <b-row>
      <b-col cols="8"
        ><img
          src="https://www.informatics.buu.ac.th/2020/wp-content/uploads/2018/07/NormalView.jpg"
          width="100%"
      /></b-col>
      <b-col>
        <br />
        <b-img
          :src="require('../assets/QRIFLine.jpg')"
          width="130%"
        ></b-img
        >&nbsp;&nbsp;Line <br /><br />
        <b-img :src="require('../assets/QRIF.jpg')" width="130%"></b-img
        >&nbsp;&nbsp;Facebook <br /><br />
        <p>
          คณะวิทยาการสารสนเทศ มหาวิทยาลัยบูรพา <br />
          โทร : 038-103061, 038-103096 <br />
          โทรสาร : 038 39 3245 <br />
          E-mail : pr@informatics.buu.ac.th Website : www.informatics.buu.ac.th
        </p></b-col
      >
    </b-row>
  </div>
</template>
