<template>
  <div
    class="border d-flex align-items-center justify-content-center"
    style="height: 400px; border-radius: 15px 15px 15px 15px; background-color: rgb(128, 218, 245);"
  >
    <b-container>
      <b-row align-h="center">
        <b-col md="6" offset-md="0">
          <b-card class="text-center" title="คิวของท่าน">
            <b-card-text>
              ฝาก/ถอน: ธนาคารวิทยาการสารสนเทศ
            </b-card-text>
            <b-card-title>
              ลำดับคิว
            </b-card-title>
            <b-card-text>
              เลขคิว: 1
            </b-card-text>
            <b-card-text>
              จำนวนคิวที่ต้องรอ: 0
            </b-card-text>
            <b-card-text>
              วันที่ 02/12/2564 เวลา 12.30 น.
            </b-card-text>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
