<template>
  <div
    class="border d-flex align-items-center justify-content-center"
    style="height: 400px; border-radius: 15px 15px 15px 15px; background-color: rgb(128, 218, 245);"
  >
    <b-container>
      <b-row align-h="center">
        <b-col md="6" offset-md="3">
          <b-button variant="secondary" @click="toPage()"
            >เลือกธุรกรรม</b-button
          >
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  name: 'App',
  methods: {
    toPage () {
      this.$router.push({ name: 'formCustomer' })
    }
  }
}
</script>
