<template>
  <div>
    <br />
    <b-row>
      <b-col sm="2"> </b-col>
      <b-col>
        <h2 style="text-align: center;">Register in ...</h2>
        <br />
        <b-form-input
          v-model="user"
          placeholder="Enter Your User ID"
        ></b-form-input
        ><br />
        <b-form-input
          v-model="pass"
          placeholder="Enter Your Password"
        ></b-form-input
        ><br />
        <b-form-input
          v-model="confrim"
          placeholder="Enter Your Confirm Password"
        ></b-form-input
        ><br />
        <b-form-input
          v-model="tran"
          placeholder="Enter You Transaction"
        ></b-form-input
        ><br />
        <b-form-input
          v-model="nametran"
          placeholder="Enter Your Name Transaction"
        ></b-form-input
        ><br />
        <b-button pill variant="success">Confrim</b-button>
      </b-col>
      <b-col>
        <!-- <div class="mt-2">Value: {{ text }}</div> -->
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  data () {
    return {
      user: '',
      pass: '',
      confrim: '',
      tran: '',
      nametran: ''
    }
  }
}
</script>
