<template>
  <div>
    <b-nav vertical class="w-25">
      <b-nav-item active><router-link to="/">Home</router-link></b-nav-item>
      <b-nav-item><router-link to="/cusmain">Queue</router-link></b-nav-item>
      <b-nav-item><router-link to="/about">ติดต่อ</router-link></b-nav-item>
    </b-nav>
  </div>
</template>
